@media screen and (min-width:$desktop-width) {
    $desktop-margin:60px;
    .body {

        .offers-slider-component {
            padding: $desktop-margin 0;


            .slider-component {
                max-width: 100%;

                .slider-wrapper {
                    position: relative;

                    .image-list {
                        display: grid;
                        gap: 30px;
                        margin-bottom: 38px;
                        overflow-x: auto;
                        scrollbar-width: none;

                        &::-webkit-scrollbar {
                            display: none;
                        }

                        
                    }
                }

                .slider-scrollbar-wrapper {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;

                    .slider-scrollbar {
                        height: 24px;
                      
                        display: flex;
                        align-items: center;


                        .scrollbar-track {
                            position: relative;
                            height: 2px;
                            width: 100%;
                            background: $scrollbar-track-bc-color;
                            border-radius: 4px;



                            .scrollbar-thumb {
                                position: absolute;
                                height: 100%;
                                width: 40%;
                                background:$scrollbar-thumb-bc-color;
                                border-radius: inherit;
                                cursor: grab;

                                
                                &::after {
                                    content: '';
                                    position: absolute;
                                    left: 0;
                                    right: 0;
                                    top: -10px;
                                    bottom: -10px;
                                }
                            }
                        }

                    }

                    .buttons {

                        padding-left: 20px;

                        display: grid;
                        grid-template-columns: 30px 30px;

                        .slide-button {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            height: 30px;
                            width: 30px;
                            background: none;
                            border: none;
                            outline: none;
                            cursor: pointer;
                        }

                        #prev-slide {
                            display: none;
                        }

                        #next-slide {
                            display: none;
                        }
                    }


                }







            }

        }


    }

    .digital-bank-component {
        margin: $desktop-margin 0;
        width: 100%;
        background-color:$topnav-bc-color;
        margin-left: auto;
        margin-right: auto;
        .mobile{
            display: none;
        }
        .digital-bank-wrapper {
            padding-left: $desktop-padding;
            padding-right: $desktop-padding;

            .digital-bank-wrapper-container {

                max-width: 1110px;
                margin-left: auto;
                margin-right: auto;
                display: flex;
                flex-direction: row;
                position: relative;
                height: 414px;

                .digital-bank-text {
                    width: 45%;
                    grid-row-gap: 16px;
                    flex-direction: column;
                    flex: none;
                    align-items: flex-start;
                    display: flex;
                    justify-content: center;
                    height: 100%;

                    .txt-1 {
                        color:$text-color;
                        margin-top: 0;
                        font-size: 24px;
                        font-weight: 700;
                    }

                    .txt-2 {
                        color:$banner-text-color;

                        font-size: 16px;
                        font-weight: 400;
                    }

                    .digital-bank-icons {
                        display: flex;
                        flex-direction: row;

                        a {
                            margin-right: 16px;
                            ;
                            border: 1px solid $card-border-color;
                            border-radius: 4px;
                            justify-content: center;
                            align-items: center;
                            padding: 16px 32px;

                            &:hover {
                                background-color: $header-bc-color;
                            }

                            img {
                                // width: 68px;
                                // height: 17px;
                                width: 100%;
                                height: 100%;
                            }
                        }

                    }
                }

            }

            .img {
                height: 373px;
                position: absolute;
                right: 0;
                bottom: 0;
            }
        }
    }

    .products-wrapper {
        display: flex;
        display: grid;
        grid-template-columns: auto auto auto;
        column-gap: 30px;
    }

    .card-title {
        color:$text-color;
        margin-top: 0;
        font-size: 24px;
        font-weight: 700;
    }

    .card-info-text {
        font-size: 14px;
        font-weight: 400;
        color:$banner-text-color;

        span {
            font-weight: bold;
        }

    }

    .width-350 {
        width: 350px;
    }

    .mt-60px {

        padding-top: $desktop-margin;
        padding-bottom: 88px;

    }

    .image-list-grid-6 {
        grid-template-columns: repeat(6, 1fr);
    }

    .image-list-grid-4 {
        grid-template-columns: repeat(6, 1fr);
    }

    .height-52px {
        height: 52px;
    }
    .slider-scrollbar-width-90{
        width:90% ;
    }
    .slider-scrollbar-width-100{
        width:100% ;
    }
    .tablet{display: none;}
    .height-213 {
        height: 213.21px
    }
    .image-list-grid-3 {
        grid-template-columns: repeat(3, 1fr);
    }
    #slider-component-2{
        padding-bottom: 120px;
    }
       
    .card {
        // cursor: grab;
         cursor: pointer;
        border-radius: 8px;
        border: 1px solid $card-border-color;
        overflow: hidden;

        .card-imgs {
            position: relative;
            // width: 350px;
            width: 100%;
            background-color:$banner-text-color;

            .card-img {

                height: 100%;
                width: 100%;
                border-radius: 8px 8px 0 0;
            }

            .card-icon {
                position: absolute;
                top: 16px;
                right: 0;
                width: 78px;
                height: 56px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color:$topnav-bc-color;
                border-radius: 6px 0 0 6px;

                img {
                    height: 100%;
                    width: 100%;
                    border-radius: 6px 0 0 6px;
                }
            }
        }

        .card-texts {
            grid-row-gap: 16px;
            flex-direction: column;
            align-items: flex-start;
            display: flex;
            padding: 28px;

            .card-text {
                font-size: 12px;
                margin-bottom: 8px;
                color: #6f787b;
                display: grid;
                grid-template-columns: auto auto auto;
                column-gap: 12px;
            }

            &:last-child {
                font-size: 16px;
                color:$text-color;
            }
        }



    }


    .hover {
        &:hover {
            background-color: $topnav-bc-color;
            box-shadow: 0 36px 40px -15px rgba(12, 43, 67, .07);

            
        }

    }

    .offers-text {
        justify-content: space-between;
        align-items: center;
        margin-bottom: 36px;
        display: flex;

        .name {
            color:$text-color;
            margin-top: 0;
            font-size: 24px;
            font-weight: 700;
        }

    }

    .award-card {

        border-radius: 8px;
        border: 1px solid $card-border-color;
        background-color: $topnav-bc-color;
        width: 350px;
        grid-row-gap: 24px;
        flex-direction: column;
        align-items: flex-start;
        padding: 28px;
        display: flex;

        .card-img {
            height: 52px;
        }

        .award-card-title {
            color:$text-color;
            margin-top: 0;
            font-size: 16px;
            font-weight: 600;
        }

        .award-name {
            color:$banner-text-color;
            font-size: 14px;
            font-weight: 300;
        }
    }
}