@media screen and (min-width:$desktop-width) {
    $desktop-padding: 47px;
    $grid-column-gap:32px;
    body {
        // color: $banner-text-color;
        background-color: $header-bc-color;
        font-size: $medium-font-size;
        font-weight: 700;
        line-height: 1.7;
        font-family: $head-font-family;
    
    }

    .header {

        .topnav {
            z-index: 100;
            height: 80px;
            background-color:$topnav-bc-color;
            border-bottom: 1px solid $border-color;
            padding-left:  $desktop-padding;
             padding-right:  $desktop-padding;
            position: fixed;
            top: 0;
            bottom: auto;
            left: 0;
            right: 0;
            padding-left:  $desktop-padding;
            padding-right:  $desktop-padding;

            .topnav_elements {
                z-index: 103;
                width: 100%;
                 height: 100%;
                max-width: 1110px;
                grid-column-gap: $grid-column-gap;
                justify-content: flex-start;
                margin-right: auto;
                position: relative;
                grid-template-columns: auto auto auto;
                justify-content: space-between;

                margin-left: auto;
                display: flex;
                align-items: center;
                position: relative;

                display: grid;

                margin-right: auto;


            }



            .topnav_left_menu {
                text-align: center;


            }


            .topnav_middle_menu_item {

                height: 100%;
                display: grid;
                grid-template-columns: auto auto auto;
                grid-column-gap: $grid-column-gap;
                flex: 1;
                align-items: center;
                margin-left: 40px;
                margin-right: 40px;
                display: flex;

                .footer-middle,
                .footer-bottom {
                    display: none;
                }

                div,
                button {
                    height: 80px;
                    cursor: pointer;
                    font-size: 14px;
                    color:$banner-text-color;
                    font-weight: 400;
                    border: none;
                    background: none;
                    padding: 0;

                    font-family: "Roboto", sans-serif;

                    .line {
                        width: 0;
                        height: 0;
                        position: absolute;
                        left: 25%;
                        transform: translate(-50%, -50%);
                        background-color:$hover-button-color;
                        animation: growLine 1s ease-in-out forwards;

                    }

                    @keyframes growLine {
                        from {
                            width: 0;
                            height: 3px;
                        }

                        99% {
                            height: 3.5px;
                        }

                        to {
                            width: 55%;
                            height: 2px;
                        }
                    }
                }



                ul {
                    min-width: 200px;
                    margin-top: $grid-column-gap;
                    margin-bottom: $grid-column-gap;

                    li {
                        list-style: none;

                        &:not(:last-child) {
                            margin-bottom: 16px;
                        }

                        a {
                            display: block;
                            min-width: 200px;
                            display: flex;
                            align-items: center;
                            text-decoration: none;
                            text-align: left;
                            color:$banner-text-color;
                            font-size: 16px;
                            font-weight: 400;

                            &:hover {
                                color:$hover-button-color;
                            }
                        }

                    }
                }



                .drop-menu-item {
                    position: absolute;
                    display: none;
                }

                @keyframes fadeIn {
                    from {
                        opacity: 0;
                    }

                    to {
                        opacity: 1;
                    }
                }

                .open {
                    opacity: 1;
                    display: none;
                    animation: fadeIn .6s ease-in-out;

                }




            }




            //////////////////////////////////////
            .topnav_right_menu {
                grid-column-gap: 16px;

                .search-button {
                    cursor: pointer;
                    justify-content: center;
                    align-items: center;
                    padding: 8px;
                    transition: color .25s;
                    display: flex;
                }
            }

            .arrow-link {
                grid-column-gap: 6px;
                color:$hover-button-color;
                text-transform: uppercase;
                flex: none;
                align-items: center;
                font-size: 14px;
                font-weight: 700;
                line-height: 1.4;


            }





        }



    }

    .open {
        opacity: 1;
        display: none;
        animation: fadeIn .4s ease-in-out;

    }

    .header_dropdown-bg {
        width: 100vw;
        z-index: 1;
        min-height: 248px;
        background-color:$topnav-bc-color;
        padding-top: $grid-column-gap;
        padding-bottom: $grid-column-gap;
        transition: height .6s ease-in-out;
        display: none;
        position: absolute;
        top: 80px;
        bottom: auto;
        left: 0;
        right: 0;
        padding-left:  $desktop-padding;
        padding-right:  $desktop-padding;

        .container {

            max-width: 1110px;
            margin-left: auto;
            margin-right: auto;

            .header_dropdown-link-block {

                width: 190px;
                text-decoration: none;
            }

            .w-inline-block {
                max-width: 100%;
                display: inline-block;
            }


            .header_dropdown-link-block-img-wrapper {
                width: 100%;
                margin-bottom: 21px;
                position: relative;
            }

            .arrow-link {
                grid-column-gap: 6px;
                color:$hover-button-color;
                text-transform: uppercase;
                flex: none;
                align-items: center;
                font-size: 14px;
                font-weight: 700;
                line-height: 1.4;
                text-decoration: none;
                transition: color .25s ease-in-out;
                display: flex;
            }

            .button_icon {
                z-index: 2;
                justify-content: center;
                align-items: center;
                transition: transform .6s ease-in-out;
                display: flex;
                position: relative;
            }

            .button_text {
                z-index: 2;
                margin-top: 2px;
                transition: transform .6s ease-out;
                position: relative;
            }
        }



    }

    .button-tablet {
        display: none;
        opacity: 0;
    }

    .header_menu-button {
        display: none;
    }

    .header_logo_mobile {
        display: none;
    }

    .header_logo {
        color:$banner-text-color;

    }

    .language-dropdown {
        height: 36px;
        position: relative;

        &:hover {
            background-color: #f9fafa;

            .lang_list-wrapper {
                opacity: 2;

            }
        }

        .icon {
            margin-right: 4px;
        }

        .lang_toggle {
            cursor: pointer;
            border-radius: 4px;
            padding-left: 8px;
            padding-right: 8px;
            font-weight: 700;
            display: flex;
        }

        .lang_list-wrapper {
            grid-row-gap: 8px;
            opacity: 0;
            flex-direction: column;
            padding-top: 4px;
            position: absolute;
            top: 36px;
            bottom: auto;
            left: 0;
            right: 0;

            .lang_list {
                color:$text-color;
                background-color:$topnav-bc-color;
                border: 1px solid #e1e4e5;
                border-radius: 4px;
                flex-direction: column;
                padding-top: 8px;
                padding-bottom: 8px;
                font-weight: 500;
                display: flex;
                box-shadow: 0 4px 6px 2px rgba(12, 43, 67, .05);
            }

            .lang_list-item {
                text-align: center;
                cursor: pointer;
                padding-top: 4px;
                padding-bottom: 4px;
                transition: background-color .25s ease-in-out;
            }
        }

    }
}