@media screen and (min-width: $tablet-width-min) and (max-width: $tablet-width-max) {

    .header {
        .topnav {
            z-index: 100;
            height: 80px;
            background-color: $topnav-bc-color;
            border-bottom: 1px solid $border-color;
             padding-right: 45px;
            position: fixed;
            top: 0;
            bottom: auto;
            left: 0;
            right: 0;

            .topnav_elements {
                z-index: 103;
                width: 100%;
                height: 100%;

                grid-column-gap: 32px;
                justify-content: flex-start;
                margin-right: auto;
                position: relative;
                grid-template-columns: auto auto auto;
                justify-content: space-between;
                align-items: center;
                margin-left: auto;
                display: flex;
                display: grid;

                margin-right: auto;
                position: relative;

            }

.mt-32px{
    margin-bottom: 32px;
}

            .topnav_left_menu {
                text-align: center;
                padding-left: 45px;
position: absolute;
left: 0;
                .header_logo {
                    color: $banner-text-color;

                }
            }


            .show_menu {
                opacity: 1;
                top: 3.5rem;

            }

            .topnav_middle_menu {
                overflow: auto;
                transition: top .4s, opacity .3s;
            }
           

            .opacity-0 {
                display: none;
            }

            .topnav_middle_menu_item {
                position: absolute;
                top: 80px;
                left: 0px;
                flex: 1;
                align-items: center;
                width: 100%;

                .bottom-border {
                    height: auto;

                   
                    border-bottom: 1px solid #d1d5d6;
                }

                .button-height {
                    height: 96px;
                    padding: 32px 45px 32px 45px;
                }

               
                button {
                   
                    height: 100%;
                    width: 100vw;
                    height: 100%;
                    cursor: pointer;
                    font-size: 18px;
                    text-align: left;
                    font-weight: 700;
                    color:$text-color;
                    border: none;
                    background: none;
                    padding: 0;
                    font-family: "Roboto", sans-serif;
                }

                ul {
                    margin-top: 20px;
                    padding: 0 45px 32px 45px;
                    overflow: hidden;


                    li {
                        list-style: none;

                        &:not(:last-child) {
                            margin-bottom: 16px;
                        }

                        a {

                            display: block;
                            min-width: 200px;
                            display: flex;
                            align-items: center;
                            text-decoration: none;
                            text-align: left;
                            color:$banner-text-color;
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 1.7;

                            &:hover {
                                color: $hover-button-color;
                            }
                        }

                    }
                }




                @keyframes fadeIn {
                    from {
                        height: 0;
                        opacity: 0;
                    }

                    80% {
                        opacity: 0;
                    }

                    to {
                        height: 133px;
                        opacity: 1;
                    }
                }

                .open {
                    opacity: 1;
                    display: none;
                    animation: fadeIn .6s ease-in-out;

                }




            }




            //////////////////////////////////////
            .topnav_right_menu {
                grid-column-gap: 16px;
                padding-right: 45px;
position:absolute;
right: 0;
                .search-button {
                    cursor: pointer;
                    justify-content: center;
                    align-items: center;
                    padding: 8px;
                    transition: color .25s;
                    display: flex;
                }
            }

            .arrow-link {
                grid-column-gap: 6px;
                color: $hover-button-color;
                text-transform: uppercase;
                flex: none;
                align-items: center;
                font-size: 14px;
                font-weight: 700;
                line-height: 1.4;


            }

            .language-dropdown {
                display: none;

                .lang_toggle {
                    display: none;
                }

                .lang_list-wrapper {
                    display: none;

                }
            }


            .show_icon .nav__burger {
                opacity: 0;
                transform: rotate(90deg);
            }

            .show_icon .nav__close {
                opacity: 1;
                transform: rotate(90deg);
            }

            .nav__close__opacity-0 {
                opacity: 0;
            }

            .header_menu-button {

                z-index: 100;
                display: block;
                display: flex;
                display: grid;
                grid-row-gap: 5px;
                cursor: pointer;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                padding: 8px;
                transition: color .25s;
                position: relative;

                .nav__burger,
                .nav__close {
                    position: absolute;
                    width: max-content;
                    height: max-content;
                    inset: 0;
                    margin: auto;
                    cursor: pointer;
                    transition: opacity .1s, transform .4s;
                }

            }

        }

    }

    .header_logo_mobile {
        display: none;
    }

    .header_dropdown-bg {
        display: none;
        opacity: 0;

        .container {
            display: none;
            opacity: 0;
        }
    }

    .header_logo {
        color:$banner-text-color;

    }

    .button-desktop {
        display: none;
        opacity: 0;
    }

    .show_menu {
        opacity: 1;
        top: 3.5rem;

    }
}