@media screen and (min-width: $tablet-width-min) and (max-width: $tablet-width-max) {
    .body {

        .offers-slider-component {
            padding: 50px 0;


            .slider-component {
                max-width: 100%;

                .slider-wrapper {
                    position: relative;

                    .image-list {
                        display: grid;
                        gap: 20px;
                        margin-bottom: 38px;
                        overflow-x: auto;
                        scrollbar-width: none;

                        &::-webkit-scrollbar {
                            display: none;
                        }



                    }
                }

                .slider-scrollbar-wrapper {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;

                    .slider-scrollbar {
                        height: 24px;

                        display: flex;
                        align-items: center;

                        // &:hover {
                        //     .scrollbar-track {
                        //         height: 4px;
                        //     }
                        // }



                        .scrollbar-track {
                            position: relative;
                            height: 2px;
                            width: 100%;
                            background: #ccc;
                            border-radius: 4px;



                            .scrollbar-thumb {
                                position: absolute;
                                height: 100%;
                                width: 40%;
                                background: #182CC0;
                                border-radius: inherit;
                                cursor: grab;

                                // &:active {
                                //     cursor: grabbing;
                                //     height: 5px;
                                //     top: -2px;
                                // }

                                &::after {
                                    content: '';
                                    position: absolute;
                                    left: 0;
                                    right: 0;
                                    top: -10px;
                                    bottom: -10px;
                                }
                            }
                        }

                    }

                    .buttons {

                        padding-left: 20px;

                        display: grid;
                        grid-template-columns: 30px 30px;

                        .slide-button {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            height: 30px;
                            width: 30px;
                            background: none;
                            border: none;
                            outline: none;
                            cursor: pointer;
                        }

                        #prev-slide {
                            display: none;
                        }

                        #next-slide {
                            display: none;
                        }
                    }


                }







            }

        }


    }

    #slider-component-1 {
        padding-bottom: 100px;
    }

    #slider-component-3 {
        padding-top: 100px;
    }

    #slider-component-2 {
        padding-bottom: 100px;
    }

    .digital-bank-component {

        width: 100%;

        margin-left: auto;
        margin-right: auto;
.mobile{
    display: none;
}
        .digital-bank-wrapper {
            padding-left: 45px;
            padding-right: 45px;


            .digital-bank-wrapper-container {
                background-color: #fff;
                min-width: 677px;
                max-width: 1000px;
                margin-left: auto;
                margin-right: auto;
                display: flex;
                flex-direction: row;
                position: relative;
                height: 300px;

                .digital-bank-text {
                    width: 45%;
                    grid-row-gap: 16px;
                    flex-direction: column;
                    flex: none;
                    align-items: flex-start;
                    display: flex;
                    justify-content: center;
                    height: 100%;

                    .txt-1 {
                        color: #141719;
                        margin-top: 0;
                        font-size: 24px;
                        font-weight: 700;
                        line-height: 1.7;
                        margin-bottom: 5px;
                    }

                    .txt-2 {
                        color: #555F62;

                        font-size: 16px;
                        font-weight: 400;
                    }

                    .digital-bank-icons {


                        .tablet {
                            display: flex;
                            flex-direction: row;
                            grid-column-gap: 4px;
                            color: #182cc0;
                            text-transform: uppercase;
                            border: 1px solid #182cc0;
                            border-radius: 4px;
                            justify-content: center;
                            align-items: center;
                            padding: 16px 32px;
                            font-size: 12px;
                            font-weight: 700;
                            line-height: 1.33;
                            text-decoration: none;
                            transition: background-position .25s ease-in-out;

                            &:hover {
                                background-color: #f9fafa;
                            }

                            img {
                                // width: 68px;
                                // height: 17px;
                                width: 100%;
                                height: 100%;
                            }
                        }

                    }
                }

            }

            .img {
                height: 270px;
                position: absolute;
                right: 0;
                bottom: 0px;
            }
        }
    }

    .products-wrapper {
        display: flex;
        display: grid;
        grid-template-columns: auto auto auto;
        column-gap: 30px;
    }

    .card-title {
        color: #141719;
        margin-top: 0;
        font-size: 24px;
        font-weight: 700;
    }

    .card-info-text {
        font-size: 14px;
        font-weight: 400;
        color: #555F62;

        span {
            font-weight: bold;
        }

    }

    .width-350 {
        width: 350px;
    }

    .desktop {
        display: none;
    }

    .image-list-grid-3 {
        grid-template-columns: repeat(3, 1fr);
    }

    .slider-scrollbar-width-90 {
        width: 90%;
    }

    .slider-scrollbar-width-100 {
        width: 100%;
    }

    .mt-60px {

        padding-top: 60px;
        padding-bottom: 88px;

    }

    .image-list-grid-6 {
        grid-template-columns: repeat(6, 1fr);
    }

    .image-list-grid-4 {
        grid-template-columns: repeat(6, 1fr);
    }

    .height-52px {
        height: 52px;
    }

    .height-213 {
        height: 213.21px
    }

    .card {
        cursor: pointer;
        border-radius: 8px;
        border: 1px solid #e1e4e5;
        overflow: hidden;

        .card-imgs {
            position: relative;
            // width: 350px;
            width: 100%;
            background-color: #555F62;

            .card-img {

                height: 100%;
                width: 100%;
                border-radius: 8px 8px 0 0;
            }

            .card-icon {
                position: absolute;
                top: 16px;
                right: 0;
                width: 78px;
                height: 56px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #fff;
                border-radius: 6px 0 0 6px;

                img {
                    width: 100%;
                    border-radius: 6px 0 0 6px;
                }
            }
        }

        .card-texts {
            grid-row-gap: 16px;
            flex-direction: column;
            align-items: flex-start;
            display: flex;
            padding: 28px;

            .card-text {
                font-size: 12px;
                margin-bottom: 8px;
                color: #6f787b;
                display: grid;
                grid-template-columns: auto auto auto;
                column-gap: 12px;
            }

            &:last-child {
                font-size: 16px;
                color: #141719;
            }
        }



    }

    // .img-hover{
    //     margin-left: 2px;
    // 	-webkit-transform: scale(1.5);
    // 	transform: scale(1.5);
    // 	-webkit-transition: .3s ease-in-out;
    // 	transition: .3s ease-in-out;
    // }
    .hover {
        &:hover {
            background-color: #fff;
            box-shadow: 0 36px 40px -15px rgba(12, 43, 67, .07);

            // img {
            //     transform: scale(1.05);
            //     overflow: hidden;
            //     margin-left: 0;
            // }
        }

    }

    .offers-text {
        justify-content: space-between;
        align-items: center;
        margin-bottom: 36px;
        display: flex;

        .name {
            color: #141719;
            margin-top: 0;
            font-size: 24px;
            font-weight: 700;
        }

    }


    .award-card {

        border-radius: 8px;
        border: 1px solid #e1e4e5;
        background-color: #fff;
        width: 350px;
        grid-row-gap: 24px;
        flex-direction: column;
        align-items: flex-start;
        padding: 28px;
        display: flex;

        .card-img {
            height: 52px;
        }

        .award-card-title {
            color: #141719;
            margin-top: 0;
            font-size: 16px;
            font-weight: 600;
        }

        .award-name {
            color: #555F62;
            font-size: 14px;
            font-weight: 300;
        }
    }
}