@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&family=Noto+Serif+Georgian:wdth,wght@62.5..100,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$head-font-family: "Roboto", sans-serif;
$medium-font-size: 14px;
$small-font-size: 18px;

.cookies_block_wrapper {
    width: 100%;
    position: fixed;
    bottom: 66px;
    padding: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;

    .cookies_block {

        z-index: 900;
        width: 90%;
        max-width: 694px;
        grid-column-gap: 24px;
        background-color: #fff;
        // background-color: red;
        border-radius: 6px;
        justify-content: space-between;
        align-items: center;
        padding: 24px 32px;
        font-size: 12px;
        display: flex;
        box-shadow: 0 36px 40px -15px rgba(12, 43, 67, .07);

        width: 100%;
        color: white;
        text-align: center;

        .arrow-link {
            cursor: pointer;
            grid-column-gap: 6px;
            color: #182cc0;
            text-transform: uppercase;
            flex: none;
            align-items: center;
            font-size: 14px;
            font-weight: 700;
            line-height: 1.4;
            text-decoration: none;
            transition: color .25s ease-in-out;
            display: flex;
        }
    }
}


.buttons-wrapper{
    position: fixed;
    bottom: 66px;
    right: 20px;
    z-index: 1000;

    // grid-column-gap: 16px;
    // grid-row-gap: 16px;
    // flex-wrap: wrap;
    // display: flex;
    // flex-direction: row;
}
.dissapear{
    opacity: 0;
}

.bc-white{
    
    color: #424a4d; 
    background-color: #fff;
    margin-bottom: 12px;
    &:hover{
        color: #fff;
    background-color: #3295ce;
    }
}
.bc-black{
    color: #fff;
   background-color: #424a4d;  
   &:hover{
    opacity:0.8;
   }
}
.button-menu_tooltip{
    max-width: 109px;
    max-height: 38px;
    color: #fff;
    white-space: nowrap;
    background-color: #424a4d;
    border-radius: 6px;
    padding: 8px 12px;
    font-size: 14px;
    transition: opacity .25s ease-in-out;
    position: absolute;
    right: 68px;
     opacity: 0;

    pointer-events: none;
    transition: .4s;
    display: flex;
    flex-direction: column;
    display: flex;
    
    align-items: flex-end;

    .button-menu_tooltip-arrow{
    position: absolute;
    right: -6px;
    bottom: 1px;
    }
}
.button-menu_button {
   &:hover{
    .button-menu_tooltip{
        opacity: 1;
    }
   }
    z-index: 1000;
    width: 56px;
    height: 56px;
   
    cursor: pointer;
   
    border-radius: 50%;
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding: 16px;
    transition: background-color .25s ease-in-out;
    display: flex;
    width: 48px;
    height: 48px;
    padding: 12px;

    .button-menu_icon {
        display: flex;
        justify-content: center;
        justify-items: center;
        align-items: center;
    }

}