@media screen and (max-width:$mobile-width) {
    .footer {
        z-index: 100;

        background-color:$topnav-bc-color;
        border-bottom: 1px solid $border-color;



        .footer_elements {
            height: 120px;
            z-index: 103;
            margin-left: auto;
            margin-right: auto;

            .footer-top {
                width: 100%;
                padding-top: 36px;
                padding-bottom: 36px;
                padding-left: $mobile-margin;
                padding-right: $mobile-margin;

                .footer_top-inner {

                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    // .language-dropdown {
                    //     position: absolute;
                    //     right: 0;
                    // }

                }

            }

            .header_logo_mobile {
                color: #141719;
            }

            .header_logo {
                display: none;
            }



        }

        .language-dropdown {
            height: 36px;
            position: relative;

            &:hover {
                background-color:$header-bc-color;

                .lang_list-wrapper {
                    opacity: 2;

                }
            }

            .icon {
                margin-right: 4px;
            }

            .lang_toggle {
                cursor: pointer;
                border-radius: 4px;
                padding-left: 8px;
                padding-right: 8px;
                font-weight: 700;
                display: flex;
            }

            .lang_list-wrapper {
                grid-row-gap: 8px;
                opacity: 0;
                flex-direction: column;
                padding-top: 4px;
                position: absolute;
                top: 36px;
                bottom: auto;
                left: 0;
                right: 0;

                .lang_list {
                    color: #141719;
                    background-color:$topnav-bc-color;
                    border: 1px solid #e1e4e5;
                    border-radius: 4px;
                    flex-direction: column;
                    padding-top: 8px;
                    padding-bottom: 8px;
                    font-weight: 500;
                    display: flex;
                    box-shadow: 0 4px 6px 2px rgba(12, 43, 67, .05);
                }

                .lang_list-item {
                    text-align: center;
                    cursor: pointer;
                    padding-top: 4px;
                    padding-bottom: 4px;
                    transition: background-color .25s ease-in-out;
                }
            }

        }
    }

    .footer-middle {


        width: 100%;
        padding: 0 0 45px 0;

        .title {
            color: #141719;
            padding-bottom: 24px;
            font-weight: 700;
            font-size: 14px;
        }

        .mb-20px {
            margin-bottom: 20px;
            color:$banner-text-color;
        }

        .info-wrapper {
            display: flex;
            align-items: center;
            justify-items: center;

            .img-wrapper {
                display: flex;
                align-items: center;
                justify-items: center;
                margin-right: 10px;


            }

            .fb-wrapper {

                margin-right: 4px;
                width: 40px;
                height: 40px;
                background-color:$header-bc-color;
                border-radius: 6px;
                justify-content: center;
                align-items: center;
                display: flex;

            }

            img {
                width: 16px;
                height: 16px;
            }
        }

    }

    .footer-bottom {
        height: 88.8px;
        padding: 28px 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-top: 1px solid $border-color;
        padding-left: $mobile-margin;
        font-size: 12px;

        padding-left: $mobile-margin;
        padding-right: $mobile-margin;

        .footer-bottom-left {
            display: flex;
            flex-direction: row;
            align-items: center;

            svg {
                height: 32px;
                width: 21px;
                margin-right: 8px;
            }
        }

        .footer-bottom-right {
            display: flex;
            justify-self: center;
            align-items: center;

            .mr-35 {
                margin-right: 35px;
                ;
            }
        }

    }

    .footer-desktop {
        display: none;
    }
    .padding-30px{
        padding: 0 $mobile-margin;
    }
    .padding-56px{
        padding: 56px $mobile-margin 0 $mobile-margin;
    }
    .mt-32px {
        padding-top: 56px;
    }
    .bottom-border {
        height: auto;

        // transition: height 2s;
        border-bottom: 1px solid #d1d5d6;
    }

    .footer-dropdown {
        width: 100%;


        // height: 108px;

        button {
           z-index: 400;
            width: 100%;
            padding: 36px $mobile-margin;
            height: 108px;
            cursor: pointer;
            font-size: 18px;
            text-align: left;
            font-weight: 700;
            color: #141719;
            border: none;
            cursor: pointer;
            background: none;
            border: #141719 solid 2;
            padding: 0;
            font-family: "Roboto", sans-serif;
        }

        ul {

            padding: 0 $mobile-margin 36px $mobile-margin;
            overflow: hidden;
            transition: top 1s, opacity .8s;
            transition: height .6s ease-in-out;
           

            li {
                list-style: none;

                &:not(:last-child) {
                    margin-bottom: 24px;
                }

                a {

                    display: block;
                    min-width: 200px;
                    display: flex;
                    align-items: center;
                    text-decoration: none;
                    text-align: left;
                    color:$banner-text-color;
                    // background-color:$header-bc-color;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 1.7;

                    &:hover {
                        color: $scrollbar-thumb-bc-color;
                    }
                }

            }
        }

    }

    @keyframes fadeIn {
        from {
            height: 0;
            opacity: 0;
        }

        80% {
            opacity: 0;
        }

        to {
            height: 133px;
            opacity: 1;
        }
    }

    .open {
        opacity: 1;
        display: none;
        animation: fadeIn .6s ease-in-out;

    }




}