// $footer-bc-color:#111111;
$header-bc-color: #f9fafa;
$banner-text-color:#555f62;
$topnav-bc-color:#fff;
$border-color: #eef1f1;
$hover-button-color: #182cc0;
$text-color: #141719;
$scrollbar-track-bc-color:#ccc;
$scrollbar-thumb-bc-color: #182CC0;
$card-border-color:#e1e4e5;
$tooltip-bc-color:#424a4d;
